<% @users.each do |users| %>
<table class="table">
	<tr>
		<th>Name</th>
		<th>Expense Name</th>
		<th>Cost</th>
	</tr>
	<tr>
  	<td><a href="/<%= users.id %>"><%= users.username %></a></td>
 		<td><a href="/<%= users.id %>"><%= users.expenses %></a></td>
 		<td><a href="/<%= users.id %>"><%= users.cost %></a></td>
 	</tr>
</table>
<% end %>
