<% @users.each do |users| %>
<table class="table">
  <td><h3><a href="/<%= users.id %>"><%= users.username %></a></h3></td>
 	<td><p><a href="/<%= users.id %>"><%= users.expenses %></p></a></td>
 	<td><p><a href="/<%= users.id %>"><%= users.cost %></p></a></td>
</table>
<% end %>
