<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Expense Name</th>
		<th>Cost</th>
	</tr>
	<% @expenses.each do |expense| %>
	<tr>
  	<td class="info"><a href="/<%= expense.id %>"><%= expense.username %></a></td>
 		<td class="info"><a href="/<%= expense.id %>"><%= expense.expenses %></a></td>
 		<td class="info"><a href="/<%= expense.id %>"><%= expense.cost %></a></td>
 	</tr>
 	<% end %>
</table>

<h3>Total Amount £<%= @amount%></h3>