<table class="table table-bordered">
	<tr>
		<th>Name</th>
		<th>Expense Name</th>
		<th>Cost</th>
	</tr>
		<td><%= @expense.username %></td>
		<td><%= @expense.expenses%></td>
		<td><%= @expense.cost%></td>
</table>

<a href="/<%= @expense.id %>/edit">edit</a>

<form method="post" action="/<%= @expense.id %>">
   <input type="hidden" name="_method" value="DELETE">
   <input type="submit" value="Delete">
</form>