<table>
	<tr>
		<th>Name</th>
		<th>Expense Name</th>
		<th>Cost</th>
	</tr>
		<td><%= @user.username %></td>
		<td><%= @user.expenses%></td>
		<td><%= @user.cost%></td>
</table>

<a href="/<%= @user.id %>/edit">edit</a>

<form method="post" action="/<%= @user.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>